{% extends 'base.html.twig' %}

{% block title %}Type de promo{% endblock %}

{% block body %}
<div class="container pt-5">

    <div class="row mb-2">
        <h1 class="text-center my-5" style="font-family: 'Luckiest Guy', serif;color: #007682;">Types de <span style="color: #d53767;">promotion</span></h1>
        <div class="col">
        {% if is_granted('ROLE_ADMIN') %}     
            <a class="btn btn-primary mb-4" style="font-family: 'Luckiest Guy', serif;background-color:#007682;border:none;letter-spacing: 1px;" href="{{ path('app_back_type_new') }}">Ajouter un type de promotion</a>        
        {% endif %}    
                <table class="table text-center table-striped table-hover">
                    <thead>
                        <tr>
                            <th class ="elt_display-tablet">Id</th>
                            <th>Promotion</th>
                            <th>actions</th>
                        </tr>
                    </thead>
                    <tbody class="align-middle">
                    {% for type in types %}
                        <tr>
                            <td class ="elt_display-tablet">{{ type.id }}</td>
                            <td>{{ type.name }}</td>
                            <td>
                                <a class="btn btn-sm btn-primary" style="background-color: #CDF7F6;border:none;color: #333333;font-weight:bold;margin-right:5px;" href="{{ path('app_back_type_show', {'id': type.id}) }}">Voir</a>
                                
                                {% if is_granted('ROLE_ADMIN') %} 
                                    <a class="btn btn-sm btn-warning" style="background-color: #333333;border:none;color: white;font-weight:bold;" href="{{ path('app_back_type_edit', {'id': type.id}) }}">Modifier</a>
                                {% endif %} 
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="3">Type de promo non trouvé</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

    
{% endblock %}
