{% extends 'base.html.twig' %}

{% block title %}Game{% endblock %}

{% block body %}

<div class="container pt-5">

    <div class="row mb-2">
        
        <div class="col">
            <h1 class="text-center my-4" style="font-family: 'Luckiest Guy', serif;color: #007682;">{{ game.name }}</h1>
            <a class="btn btn-primary mb-4" style="font-family: 'Luckiest Guy', serif;background-color:#007682;border:none;letter-spacing: 1px;" href="{{ path('app_back_game_index') }}">Retour à la liste</a>
                
                <table class="table text-center">
                    <tbody class="align-middle">
                        <tr class="mobile_show">
                            <th class="pink_line">Id</th>
                            <td>{{ game.id }}</td>
                        </tr>
                         <tr class="mobile_show">
                            <th class="pink_line">Nom du jeu</th>
                            <td>{{ game.name }}</td>
                        </tr> 
                        <tr class="mobile_show">
                            <th class="pink_line">Image</th>
                            <td><img  src="{{ game.image }}" style="width: 200px; height: 200px;" alt="Image"></td>
                        </tr>
                        <tr class="mobile_show">
                            <th class="pink_line">Description</th>
                            <td>{{ game.description }}</td>
                        </tr>
                        <tr class="mobile_show">
                            <th class="pink_line">Créé le</th>
                            <td>{{ game.createdAt ? game.createdAt|date('d-m-Y') : '' }}</td>
                        </tr>
                        <tr class="mobile_show">
                            <th class="pink_line">Modifié le</th>
                            <td>{{ game.updatedAt ? game.updatedAt|date('d-m-Y') : '' }}</td>
                        </tr>
                         
                    </tbody>
                </table>
                {% if is_granted('ROLE_ADMIN') %} 
                    <div class="col d-flex justify-content-center">
                        <a class="btn btn btn-warning" style="background-color: #333333;border:none;color: white;font-weight:bold;margin-right: 1.5em;" href="{{ path('app_back_game_edit', {'id': game.id}) }}">Modifier</a>
                        
                        {{ include('back/game/_delete_form.html.twig') }}
                    </div>
                {% endif %}
        </div>
    </div>
</div>
    
{% endblock %}
    

    

