{% extends 'base.html.twig' %}

{% block title %}Liste des boutiques{% endblock %}

{% block body %}
<div class="container pt-5">

    <div class="row mb-2">
        <h1 class="text-center my-5" style="font-family: 'Luckiest Guy', serif;color: #007682;">Les <span style="color: #d53767;">boutiques</span></h1>
        <div class="col">
        {% if is_granted('ROLE_ADMIN') %}     
            <a class="btn btn-primary mb-4" style="font-family: 'Luckiest Guy', serif;background-color:#007682;border:none;letter-spacing: 1px;" href="{{ path('app_back_shop_new') }}">Ajouter une boutique</a>    
        {% endif %}        
                <table class="table text-center table-striped table-hover">
                    <thead>
                        <tr>
                            <th class ="elt_display-tablet">Id</th>
                            <th class ="elt_display-tablet">Boutique</th>
                            <th class=" col-sm-auto" >Image</th>
                            <th class ="elt_display-none">Description</th>
                            <th class ="elt_display-desktop">Url</th>
                            <th class ="elt_display-desktop">Adress</th>
                            <th class ="elt_display-none">CreatedAt</th>
                            <th class ="elt_display-none">UpdatedAt</th>
                            <th class="col-sm-auto col-md-3 ">actions</th>
                        </tr>
                    </thead>
                    <tbody class="align-middle">
                    {% for shop in shops %}
                        <tr>
                            <td class ="elt_display-tablet">{{ shop.id }}</td>
                            <td class ="elt_display-tablet">{{ shop.name }}</td>
                            <td><img src="{{ shop.image }}" style="width: 150px; height: 150px;" alt=""></td>
                            <td class ="elt_display-none">{{ shop.description }}</td>
                            <td class ="elt_display-desktop">{{ shop.url }}</td>
                            <td class ="elt_display-desktop">{{ shop.adress }}</td>
                            <td class ="elt_display-none">{{ shop.createdAt ? shop.createdAt|date('d-m-Y') : '' }}</td>
                            <td class ="elt_display-none">{{ shop.updatedAt ? shop.updatedAt|date('d-m-Y') : '' }}</td>
                            <td>
                                <a class="btn btn-sm btn-primary" style="background-color: #CDF7F6;border:none;color: #333333;font-weight:bold;margin-right:5px;" href="{{ path('app_back_shop_show', {'id': shop.id}) }}">Voir</a>
                                
                                {% if is_granted('ROLE_ADMIN') %} 
                                    <a class="btn btn-sm btn-warning" style="background-color: #333333;border:none;color: white;font-weight:bold;" href="{{ path('app_back_shop_edit', {'id': shop.id}) }}">Modifier</a>
                                {% endif %} 
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="9">Boutique non trouvée</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

    
{% endblock %}
