{% extends 'base.html.twig' %}

{% block title %}Nouveau jeu{% endblock %}

{% block body %}
<div class="container pt-5">

    <div class="row mb-2">
        <h1 class="text-center my-5" style="font-family: 'Luckiest Guy', serif;color: #007682;">Demande d'ajout <span style="color: #d53767;">des membres</span></h1>
        <div class="col">
        {% if is_granted('ROLE_ADMIN') %}     
            <a class="btn btn-primary mb-4" style="font-family: 'Luckiest Guy', serif;background-color:#007682;border:none;letter-spacing: 1px;" href="{{ path('app_back_new_game_new') }}">Ajouter un nouveau jeu </a> 
        {% endif %}        
                <table class="table text-center table-striped table-hover">
                    <thead>
                        <tr>
                            <th class ="elt_display-tablet">Id</th>
                            <th class="col-sm-auto" >Jeu</th>
                            <th class =" col-auto elt_display-tablet">Url</th>
                            <th class ="col-sm-auto col-md-3" >actions</th>
                        </tr>
                    </thead>
                    <tbody class="align-middle">
                    {% for new_game in new_games %}
                        <tr>
                            <td class ="elt_display-tablet">{{ new_game.id }}</td>
                            <td>{{ new_game.name }}</td>
                            <td class ="elt_display-tablet">{{ new_game.url }}</td>
                            <td>
                                <a class="btn btn-sm btn-primary" style="background-color: #CDF7F6;border:none;color: #333333;font-weight:bold;margin-right:5px;" href="{{ path('app_back_new_game_show', {'id': new_game.id}) }}">Voir</a>
                                
                                {% if is_granted('ROLE_ADMIN') %} 
                                    <a class="btn btn-sm btn-warning" style="background-color: #333333;border:none;color: white;font-weight:bold;" href="{{ path('app_back_new_game_edit', {'id': new_game.id}) }}">Modifier</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="4">Nouveau jeu non trouvé</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

    
{% endblock %}
