{% extends 'base.html.twig' %}

{% block title %}Comment{% endblock %}

{% block body %}

<div class="container pt-5">

    <div class="row mb-2">
        
        <div class="col">
            <h1 class="text-center my-5" style="font-family: 'Luckiest Guy', serif;color: #007682;">Commentaires</h1>
            <a class="btn btn-primary mb-4" style="font-family: 'Luckiest Guy', serif;background-color:#007682;border:none;letter-spacing: 1px;" href="{{ path('app_back_comment_index') }}">Retour à la liste</a>
               
                <table class="table text-center">
                    <tbody class="align-middle">
                        <tr class="mobile_show">
                            <th class="pink_line">Id</th>
                            <td>{{ comment.id }}</td>
                        </tr>
                        <tr class="mobile_show">
                            <th class="pink_line">Commentaire</th>
                            <td>{{ comment.comment }}</td>
                        </tr>
                        <tr class="mobile_show">
                            <th class="pink_line">Membre</th>
                            <td>{{ comment.user.name }}</td>
                        </tr>
                        <tr class="mobile_show">
                            <th class="pink_line">Email</th>
                            <td>{{ comment.user.email }}</td>
                        </tr>
                        <tr class="mobile_show">
                            <th class="pink_line">Publié le</th>
                            <td>{{ comment.createdAt ? comment.createdAt|date('d-m-Y') : '' }}</td>
                        </tr>
                        <tr class="mobile_show">
                            <th class="pink_line">Modifié le</th>
                            <td>{{ comment.updatedAt ? comment.updatedAt|date('d-m-Y') : '' }}</td>
                        </tr>
                    </tbody>
                </table>
                {% if is_granted('ROLE_ADMIN') %} 
                    <div class="col d-flex justify-content-center">
                        <a class="btn btn btn-warning"  style="background-color: #333333;border:none;color: white;font-weight:bold;margin-right: 1.5em;" href="{{ path('app_back_comment_edit', {'id': comment.id}) }}">Modifier</a>

                        {{ include('back/comment/_delete_form.html.twig') }}
                    </div>
                {% endif %}
        </div>
    </div>
</div>
    

{% endblock %}
